.waf*
build/
*.pyc
*~
.lock-*

# autotools generated
ChangeLog
*.o
*.so
*.l[oa]
*.loT
.deps
.libs
stamp-h*
config.h
Makefile
Makefile.in
libtool
/m4/libtool.m4
/m4/lt*.m4
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/autoconf
/doc/Doxyfile

# parser generated
/poloka/alltelinst.*
/poloka/dbfileLex.c
/poloka/dbfileParse.c
/poloka/dbfileParse.h

# execs
/tools/*
!/tools/*.cc
!Makefile.am
*pc
