<?xml version="1.0"?>

<dict class="Frame" version="1">
 <baselist>
  <base name=""/>
  <base name=""/>
 </baselist>
 <member name="" type=""/>
 <member name="" type=""/>
 <member name="" type=""/>
</dict>

