#
# @configure_input@
#

package @PACKAGE@

use cfitsio v2r440
use sex v222
use lapack v1.1a

macro prefix "@prefix@"
macro exec_prefix "@exec_prefix@"
include_dirs "@includedir@"
macro @PACKAGE@_linkopts   "-L@libdir@ -ltoads -ltoadio -lcernstuff" 
