#
# @configure_input@
#

package @CMTPACKAGE@	

use cfitsio v3r006
use sex v244

include_dirs "@prefix@/include" 
macro @CMTPACKAGE@_cflags   "-I@prefix@/include " 
macro @CMTPACKAGE@_cppflags   "-I@prefix@/include " 
macro @CMTPACKAGE@_linkopts   "-Wl,-rpath @prefix@/lib -L@prefix@/lib -ltoads -ltoadsutils -ltoadsbase -llapackstuff -lcernstuff " 
macro @CMTPACKAGE@_linkopts_full   "-Wl,-rpath @prefix@/lib -L@prefix@/lib -ltoadslc  -ltoadsdao -ltoads -ltoadsflat -ltoadsutils -ltoadspsf -ltoadsbase -llapackstuff -lcernstuff " 
