#
# @configure_input@
#

package @PACKAGE@	

use cfitsio v2r440
use sex v222

macro @PACKAGE@_cflags   "-I@prefix@/include @XML_CFLAGS@" 
macro @PACKAGE@_cppflags   "-I@prefix@/include @XML_CFLAGS@" 
macro @PACKAGE@_linkopts   "-Wl,-rpath @prefix@ -L@prefix@/lib -ltoads -ltoadio -lcernstuff @XML_LIBS@" 
